
.containerMain {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  height: 90vh; 
  min-height: 600px; 
}

.titleBox {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  flex: 1; 
  overflow: hidden;
}

.columnOrders {
  width: 608px;
  flex: 1;
  min-height: 500px;
  max-height: calc(90vh - 120px);
  overflow-y: auto;
  padding-right: 16px; 

}

.columnInfo {
  overflow-y: visible;
  width: 580px;
  max-height: none;
}
